* {
  box-sizing: border-box;
  padding: 0;
  margin: 0%; }

body {
  background: #e3e3e3; }

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  gap: 15px; }

.input__data {
  width: 400px;
  height: 50px;
  font-family: sans-serif;
  border: unset;
  padding-left: 10px; }

.input__title {
  font-family: sans-serif;
  font-size: 15px;
  padding-bottom: 5px;
  font-weight: bold; }

.select {
  display: block;
  flex-direction: column; }
  .select__title {
    text-align: left;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px; }

.sele {
  width: 380px;
  height: 50px; }

.button {
  gap: 10px;
  display: flex; }
  .button__btn {
    background: #C1E1C1;
    border: 1px solid #C1E1C1;
    width: 70px;
    height: 30px;
    box-shadow: 2px 2px 2px 2px grey; }
  .button__link {
    color: black;
    text-decoration: none;
    font-size: 13px; }
  .button__link--blue {
    text-decoration: crimson;
    font-size: 15px;
    font-family: sans-serif; }

.container {
  display: block;
  justify-content: center;
  align-items: center;
  background: lightblue;
  width: 450px;
  margin: 0 auto;
  box-shadow: 10px 10px 5px #aaaaaa;
  height: 600px;
  margin-top: 100px; }
