.container {
    display: block;
    justify-content: center;
    align-items: center;
    background: lightblue;
    width: 450px;
    margin: 0 auto;
    box-shadow: 10px 10px 5px #aaaaaa;
    height: 600px;
    margin-top: 100px
}